:root {
  --shine-degree: 120deg;
  --shine-color: hsla(0, 0%, 100%, 0.5);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 5s ease-in-out;
}

.shine {
  position: relative;
  overflow: hidden;
}

.shine:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
}

.shine-anim:before {
  animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  11.5044247788%,
  to {
    left: 100%;
    transition-property: left;
  }
}
/* --------------------------------- */
@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* side bar scroll  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #002d67;
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #002d67;
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar-mouse:hover {
  background: #002d67;
  width: 6px;
  height: 2px;
}

/* button side light animation  */
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


@media (max-width: 768px) {
  .lg\:hidden {
    display: block !important;
  }
  .md\:hidden {
    display: block !important;
  }
}


